<aside class="sidebar">

    <div class="brand">

        <mat-icon>dashboard</mat-icon>

        <span class="brand__title">
            MindVault
        </span>

    </div>

    <nav>

        <span class="nav-title">
            Menu
        </span>

        <ul>

            @for (item of items; track item.route) {

                <li>

                <a
                    [routerLink]="item.route"
                    routerLinkActive="active">

                    <mat-icon fontIcon="{{ item.icon }}"></mat-icon>

                    <span>

                    {{ item.label }}

                    </span>

                </a>

                </li>

            }

        </ul>

    </nav>

</aside>