@use '../../../../../styles/abstracts/colors' as *;
@use '../../../../../styles/abstracts/shadows' as *;
@use '../../../../../styles/abstracts/spacing' as *;
@use '../../../../../styles/abstracts/typography' as *;

.sidebar {

    width: 280px;

    height: 100vh;

    background: $color-surface;

    box-shadow: $shadow-sm;

    padding: $space-6;

}

nav {

    margin-top: $space-6;

}

ul {

    display: flex;

    flex-direction: column;

    gap: $space-4;

}

li {

    font-size: $font-size-md;

    color: $color-text-primary;

}