<section class="dashboard">

    <header class="dashboard-header">

        <h1>

            Dashboard

        </h1>

        <p>

            Bem-vindo ao seu segundo cérebro digital.

        </p>

    </header>

    @if(state.loading()){

        <div class="loading">

            Carregando dashboard...

        </div>

    }

    @if(state.dashboard(); as dashboard){

        <section class="cards">

            <app-stat-card
                title="Hábitos"
                [value]="dashboard.totalHabits"/>

            <app-stat-card
                title="Metas"
                [value]="dashboard.totalGoals"/>

            <app-stat-card
                title="Projetos"
                [value]="dashboard.totalProjects"/>

            <app-stat-card
                title="Notas"
                [value]="dashboard.totalNotes"/>

            <app-stat-card
                title="Transações"
                [value]="dashboard.totalTransactions"/>

        </section>

    }

</section>
