<h1>

    Dashboard

</h1>

@if(state.loading()){

    <p>Carregando...</p>

}

@if(state.dashboard(); as dashboard){

<div class="cards">

    <app-stat-card

        title="Hábitos"

        [value]="dashboard.totalHabits" />

    <app-stat-card

        title="Metas"

        [value]="dashboard.totalGoals" />

    <app-stat-card

        title="Projetos"

        [value]="dashboard.totalProjects" />

    <app-stat-card

        title="Notas"

        [value]="dashboard.totalNotes" />

    <app-stat-card

        title="Transações"

        [value]="dashboard.totalTransactions" />

</div>

}
