@use '../../../../../styles/abstracts/colors' as *;
@use '../../../../../styles/abstracts/spacing' as *;

.layout {
  display: flex;
  min-height: 100vh;
  background: $color-background;
}

.content {
  flex: 1;
  padding: $space-8;
  overflow-y: auto;
}