<section class="quick-actions">

    <div class="quick-actions__header">

        <h2 class="quick-actions__title">

            Ações rápidas

        </h2>

        <span class="quick-actions__subtitle">

            Acesse rapidamente as principais funcionalidades.

        </span>

    </div>

    <div class="quick-actions__actions">

        <mv-button
            label="Novo Hábito"
            icon="add_task">
        </mv-button>

        <mv-button
            label="Nova Meta"
            icon="flag">
        </mv-button>

        <mv-button
            label="Novo Projeto"
            icon="create_new_folder">
        </mv-button>

        <mv-button
            label="Nova Nota"
            icon="note_add">
        </mv-button>

    </div>

</section>