<section class="dashboard">

  <mv-topbar
    title="Dashboard"
    subtitle="Bem-vindo ao MindVault">
  </mv-topbar>

  <section class="stats-grid">

  <mv-stat-card
    title="Hábitos"
    [value]="8"
    icon="task_alt">
  </mv-stat-card>

  <mv-stat-card
    title="Metas"
    [value]="3"
    icon="flag">
  </mv-stat-card>

  <mv-stat-card
    title="Projetos"
    [value]="5"
    icon="folder">
  </mv-stat-card>

  <mv-stat-card
    title="Notas"
    [value]="21"
    icon="description">
  </mv-stat-card>

</section>

</section>