<section class="dashboard">

  <mv-topbar
    title="Dashboard"
    subtitle="Bem-vindo ao MindVault">
  </mv-topbar>

  <section class="stats-grid">

  <mv-stat-card
    title="Hábitos"
    [value]="stats.habits"
    icon="task_alt">
  </mv-stat-card>

  <mv-stat-card
    title="Metas"
    [value]="stats.goals"
    icon="flag">
  </mv-stat-card>

  <mv-stat-card
    title="Projetos"
    [value]="stats.projects"
    icon="folder">
  </mv-stat-card>

  <mv-stat-card
    title="Notas"
    [value]="stats.notes"
    icon="description">
  </mv-stat-card>

</section>

  <mv-quick-actions />

<section class="dashboard-widgets">

    <mv-today-habits
        [habits]="habits">
    </mv-today-habits>

    <mv-goal-progress
        [goals]="goals">
    </mv-goal-progress>

</section>

</section>