<form [formGroup]="form" (ngSubmit)="login()">

    <div class="field">

        <label>Email</label>

        <input
            type="email"
            formControlName="email">

    </div>

    <div class="field">

        <label>Senha</label>

        <input
            type="password"
            formControlName="password">

    </div>

    @if (authState.error()) {

        <p class="error">

            {{ authState.error() }}

        </p>

    }

    <app-button

        type="submit"

        [text]="authState.loading() ? 'Entrando...' : 'Entrar'"

        [disabled]="authState.loading()">

    </app-button>

</form>
