/* ==========================================
   TYPOGRAPHY
========================================== */

$font-family: "Inter", sans-serif;

$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 18px;
$font-size-xl: 22px;
$font-size-2xl: 28px;
$font-size-3xl: 36px;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
