/* ==========================================
   GLOBAL VARIABLES
========================================== */

$transition-default: 0.25s ease;

$sidebar-width: 280px;

$header-height: 72px;

$max-content-width: 1600px;
